{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">

  {% if page.navbar_first %}
    {{ page.navbar_first }}
  {% endif %}

  {% if page.navbar_second %}
    {{ page.navbar_second }}
  {% endif %}

  {% if page.navbar_third %}
    {{ page.navbar_third }}
  {% endif %}


  <main class="page__main">
    {% if page.header %}
      <header class="page__header">
        {{ page.header }}
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        {{ page.content }}
      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      {{ page.footer }}
    </footer>
  {% endif %}
</div>
