{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {% embed '@dorion/navbar/navbar.twig' with {
    placement: 'sticky-top',
    container: 'fixed',
    utility_classes: [],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
           {{ page.navbar_left }}
        {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}
  {% endembed %}

  <main class="page__main">
    {% if page.header %}
      <header class="page__header">
        <div class="container">
          {{ page.header }}
        </div>
      </header>
    {% endif %}

    {% if page.content %}
      <div class="page__content">
        <div class="container">
          {{ page.content }}
        </div>
      </div>
    {% endif %}
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
          {{ page.footer }}
        </div>
    </footer>
  {% endif %}
</div>
