{#
/**
 * @file
 * Template for Navbar component.
 *
 * Available config:
 * - container: fixed | fluid.
 * - placement: default | fixed-top | fixed-bottom | sticky-top
 * - color: light | dark
 * - utility_classes: An array of utility classes.
 *
 * Available blocks:
 * - branding
 * - left
 * - right
 */
#}
{{ attach_library('dorion/navbar') }}

{% set placement = placement ?? '' %}
{% set collapsible = collapsible ?? '' %}
{% set collapse_class = collapse_class ?? '' %}

<nav class="navbar {{ placement }} {{ utility_classes|join(' ') }}">

  {% if collapsible %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".{{ collapse_class }}" aria-controls="{{ collapse_class }}" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% endif %}

  <div class="collapse {{ collapse_class }}">
    {% block navbar %}
      {{ navbar }}
    {% endblock %}
  </div>
</nav>
