{#
/**
 * @file
 * Default template for a field.
 */
#}
{% set classes = [
  field_name_clean|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass('field__label') }}>
      {{ label }}{% if label_display == 'inline' %}<span class="field__label_suffix">:</span>{% endif %}
    </div>
  {% endif %}
  {% if multiple %}
  <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
  </div>
  {% endif %}
</div>

